.loginContainer{
    padding: 90px 100px;
    height: 100vh;
    background-image: url('./background/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-box{
    background-color: rgba(0, 0, 0, 0.116);
    border: none;
    padding: 10px 5px;
    margin-bottom: 0px;
}

.main_container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: calc(100vh - 180px);
    background-color: white;
    border-radius: 4px;
}

.form_container{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5% 4%;
    flex-direction: column;
}

.form_items{
    padding: 6%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
}


.form_items form{
    display: flex;
    flex-direction: column;
    position: relative;
}
.form_items p{
    align-self: center;
    color: rgba(0, 0, 255, 0.658);
    cursor: pointer;
    margin-top: 10px;
}

.form_items button{
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    /* width: 20%; */
    align-self: flex-end;
    border-radius: 5px;
    border: none;
    background: blue;
    color: white;
}


.form_items label{
    font-size: 15px;
}

.form_items input{
    padding: 2%;
    border: 1px blue solid;
    border-radius: 5px;
}

.form_items input:focus{
    outline: none;
    background: rgba(0, 0, 255, 0.068);
    border-radius: 5px;
}


.logo{
    position: absolute;
    top: 10px;
}

.infos_container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 5%;
    background-image: url('./background/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 4px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.infos{
    position: relative;
    padding: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 15px;
    border-bottom-right-radius: 0px;
}

.infos h1{
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: x-large;
}

.infos hr{
    width: 6.5%;
    align-self: flex-end;
    border: #FFE47A 2px solid;
    background-color: #FFE47A;
    margin-bottom: 15px;
    margin-top: 0;
    margin-right: 20px;
    opacity: 90%;
}

.individualPlateform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    margin: 15px auto;
    /* max-width: 80%; */
    background-color: #ffe47a1e;
    color: white;
    border: none;
    cursor: pointer;
}

.individualPlateformIcon{
    margin-right: 20px;
}


footer{
    margin: 5px;
    color: white;
    font-weight: 800;
}

.privacy{
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 16px;
}

.registerResponsive{
    display: none;
}

#show{
    position: relative;
    padding-right: 10%;
    margin-bottom: 20px;
}

#loginVisibilityLI{
    display: none;
    position: absolute;
    top: 57%;
    right: 4%;
    cursor: pointer;
    z-index: 10;
}

#loginVisibilityOffLI{
    position: absolute;
    top: 57%;
    right: 4%;
    cursor: pointer;
    z-index: 10;
}

.loginVisibilityIcon{
    color: blue;
    font-size: 21px !important;
}

#wrongPassword{
    color: rgba(255, 0, 0, 0.644);
    font-size: 16;
    opacity: 100%;
}

.alert-danger{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-bottom: 15px;
    opacity: 0;
    cursor: default;
}

.forgotPassword:hover{
    text-decoration: underline;
}

.loginWithPlatformResposive, .logoResponsive, .loginResponsive, .theOrline{
    display: none;
}

.loginWithPlatformResposiveIcon{
    color: blue;
    cursor: pointer;
}

/* responsiness */

@media(max-width: 1100px){
    .loginHr{
        display: none;
    }
}

@media(min-width: 1500px){
    .loginHr{
        display: none;
    }

    boby{
        font-size: xx-large;
    }

    .loginContainer{
        padding: 200px 100px;
        height: 100vh;
    }

    .main_container{
        height: calc(100vh - 400px);
    }
}

@media(min-height: 1500px){

    .loginContainer{
        padding: 400px 100px;
        height: 100vh;
    }

    .main_container{
        height: calc(100vh - 800px);
    }
}

@media(max-height: 600px){

    .loginContainer{
        background-image: none;
        background-color: white;
    }

    .main_container{
        height: auto;
        box-shadow: 0px 0px 5px 0.1px gray; 
    }
}

@media(max-width: 870px){
    .form_container{
        flex-wrap: wrap;
    }

    body{
        font-size: medium;
        height: auto;
    }

    .form_items input{
        height: auto;
    }

    .privacy{
        display: none;
    }
    
    .registerResponsive{
        display: block;
        position: absolute;
        bottom: 2px;
        text-align: center;
        font-size: 18px;
        margin-top: 5px auto;
        font-size: 10px;
        color: black;
        width: 80%;
    }

    .loginContainer{
        padding: 50px;
    }

    .infos_container{
        display: none;
    }

    .responsive_register{
        opacity: 100%;
    }

    .form_items{
        position: relative;
    }
    .responsiveBr{
        display: none;
    }

    .logoResponsive{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .loginResponsive{
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        font-size: 20px;
        border-bottom: 2px solid #FFE47A;
    }

    .loginWithPlatformResposive{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .theOrline{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .or{
        margin: 0px 5px;
    }

    .orleft, .orRight{
        width: 40%;
        height: 2px;
        background-color: blue;
    }

    #loginVisibilityLI{
        display: none;
        position: absolute;
        top: 45%;
        right: 4%;
        cursor: pointer;
        z-index: 10;
    }
    
    #loginVisibilityOffLI{
        position: absolute;
        top: 45%;
        right: 4%;
        cursor: pointer;
        z-index: 10;
    }
}

@media(max-width: 600px){

    .main_container{
        height: auto;
        background-color: rgba(0, 0, 255, 0.005);
        margin: 20% auto;
        box-shadow: 0px 0px 5px 0.1px gray; 
    }

    .loginContainer{
        padding: 10px;
        height: fit-content;
        align-items: center;
        background-image: none;
    }

    body{
        font-size: small;
        height: auto;
    }

    .logoResponsive{
        display: none;
    }

    .loginResponsive{
        font-size: 15px;
    }

    .form_items button{
        display: flex;
        align-items: center;
        height: 20px;
        font-size: 10px;
    }

    .forgotPassword{
        font-size: 10;
    }

    .loginWithPlatformResposiveIcon{
        font-size: 15px !important;
        margin-bottom: 10px;
    }
    
    .form_items label{
        font-size: 10px;
    }

    .alert-danger{
        margin-bottom: 10px;
        font-size: 10px;
    }
    #loginVisibilityLI{
        display: none;
        position: absolute;
        top: 42%;
        right: 4%;
        cursor: pointer;
        z-index: 10;
        font-size: 15px !important;
    }

    #loginVisibilityOffLI{
        position: absolute;
        top: 42%;
        right: 4%;
        cursor: pointer;
        z-index: 10;
        font-size: 15px !important;
    }

    .theOrline{
        margin-bottom: 10px;
    }
}

@media(max-width: 350px){

    .loginContainer{
        padding: 5px;
    }

    body{
        font-size: xx-small;
    }

    .loginResponsive{
        display: none;
        margin-bottom: 10px;
    }

    .form_items input{
        width: auto;
    }

    .form_items button{
        display: flex;
        align-items: center;
        height: 15px;
        font-size: 9px;
    }

    .form_items label{
        font-size: 8px;
    }

    .forgotPassword{
        font-size: 10px;
    }

    .loginWithPlatformResposiveIcon{
        font-size: 10px !important;
        margin-bottom: 10px;
    }

    .alert-danger{
        margin-bottom: 5px;
        font-size: 8px;
    }

    #loginVisibilityLI{
        display: none;
        position: absolute;
        top: 42%;
        right: 4%;
        cursor: pointer;
        z-index: 10;
    }

    #loginVisibilityOffLI{
        position: absolute;
        top: 42%;
        right: 4%;
        cursor: pointer;
        z-index: 10;
        font-size: 10px !important;
    }

    .theOrline{
        margin-bottom: 10px;
    }
}