*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    height: 100%;
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    width: 9px;
    padding: 0px 2px;
    background-color: rgb(243, 243, 243);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(220, 220, 220, 0.713);
    border-radius: 3px;
  }