.itemsNavContainer {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  font-size: 15px;
  height: auto;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  position: fixed;
  top: 50px;
  width: 100%;
  max-width: 1440px;
  flex-wrap: wrap;
  border-top: 1px solid rgba(160, 160, 160, 0.123);
  border-bottom: 1px solid rgba(160, 160, 160, 0.123);
}

.itemsNavItems{
    margin: 0px 10px;
}

.itemsNavItems:hover{
 text-decoration: underline;
 cursor: pointer;
}


@media (max-width: 620px) {
  .itemsNavContainer{
    font-size: 12px;
  }
}